body{
  font-size: 2em;
  font-family:sans-serif;
  background-color: rgb(91, 198, 222);
  color: rgb(205, 72, 72);
}
.pages{
  visibility: hidden;
  position: absolute;
  width: 90%;
  height: 90%;
  margin-left: 2.5%;

  border-left-style: solid;
  border-left-color: rgb(205, 72, 72);
  border-left-width: 0.2em;
  border-right-style: solid;
  border-right-color: rgb(205, 72, 72);
  border-right-width: 0.2em;
  border-bottom-style: none;
  border-bottom-color: rgb(205, 72, 72);
  border-bottom-width: 0.6em;
}
.placedCenter{
  text-align: center;
}
.inlineBlock{
  display: inline-block;
}
.headers{
  text-decoration: underline;
}
input, select{
  border-style: solid;
  background-color: rgb(149, 227, 237);
  border-color: rgba(48, 109, 117, 0.72);
  color: inherit;
  font-size: 0.8em;
  width: 300px;
}
.dateInputs{
  /*find out how to style this*/
}
.fullWidth{
  width: 100%;
}
button{
  border-style: none;
  background-color: rgb(201, 219, 49);
  font: inherit;
  color: inherit;
  margin: 1%;
  border-radius: 13px;
}
#homeBtn{
  font-size: 0.5em;
  position: absolute;
  top: 15%;
}
#overviewTableDiv{
  font-family: monospace;
  margin-left: 50% auto;
  margin-right: 50% auto;
}
.registerInputs{

}
td{
  position: relative;
  border-bottom-style: solid;
  border-right-style: solid;
  border-color: rgb(51, 41, 136);
  table-layout: fixed;
}
#deleteCustomerTableDiv > table >tr:hover{
  background-color: red;
}
